# Dependency repos

- name: Add IPFIXcol repo
  get_url:
    url: https://copr.fedorainfracloud.org/coprs/g/CESNET/IPFIXcol/repo/epel-7/group_CESNET-IPFIXcol-epel-7.repo
    dest: /etc/yum.repos.d/copr-ipfixcol.repo
    mode:  664
  tags:
   - fastbit
   - fbitdump
   - fbitmerge

- name: Install fastbit dependency packages
  yum: "name=libfastbit-devel,graphviz state=latest"
  tags:
   - fastbit
   - fbitdump
   - fbitmerge

- name: Add NEMEA repo
  get_url:
    url: https://copr.fedorainfracloud.org/coprs/g/CESNET/NEMEA/repo/epel-7/group_CESNET-NEMEA-epel-7.repo
    dest: /etc/yum.repos.d/copr-nemea.repo
    mode:  664
  tags:
   - lnfstore
   - unirec

- name: Install lnfstore dependency packages
  yum: "name=libnf-devel,bloom_filter_indexes state=latest"
  tags: lnfstore

- name: Install unirec dependency packages
  yum: "name=libtrap-devel state=latest"
  tags: unirec

# Base
- name: Build IPFIXcol rpms
  shell: >
    {{ item }}
    chdir={{ build.dir }}/base/
    creates=/usr/include/ipfixcol.h
  with_items:
   - make rpm
   - yum info ipfixcol-devel | grep installed > /dev/null || yum install -y {{ build.dir }}/base/RPMBUILD/RPMS/*/*.rpm
  tags: base

# Input plugins

- name: Build nfdump input plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/input/nfdump
    creates={{ build.dir }}/plugins/input/nfdump/RPMBUILD/SRPMS/*.src.rpm
  tags: nfdump-input

- name: Build UDP CPG input plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/input/udp_cpg
    creates={{ build.dir }}/plugins/input/udp_cpg/RPMBUILD/SRPMS/*.src.rpm
  tags: udp_cpg

# Intermediate plugins

- name: Build dhcp intermediate plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/intermediate/dhcp
    creates={{ build.dir }}/plugins/intermediate/dhcp/RPMBUILD/SRPMS/*.src.rpm
  tags: dhcp

- name: Build geoip intermediate plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/intermediate/geoip
    creates={{ build.dir }}/plugins/intermediate/geoip/RPMBUILD/SRPMS/*.src.rpm
  tags: geoip

- name: Build profiler intermediate plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/intermediate/profiler
    creates={{ build.dir }}/plugins/intermediate/profiler/RPMBUILD/SRPMS/*.src.rpm
  tags: profiler

- name: Build profile_stats intermediate plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/intermediate/profile_stats
    creates={{ build.dir }}/plugins/intermediate/profile_stats/RPMBUILD/SRPMS/*.src.rpm
  tags: profile_stats

- name: Build stats intermediate plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/intermediate/stats
    creates={{ build.dir }}/plugins/intermediate/stats/RPMBUILD/SRPMS/*.src.rpm
  tags: stats

- name: Build uid intermediate plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/intermediate/uid
    creates={{ build.dir }}/plugins/intermediate/uid/RPMBUILD/SRPMS/*.src.rpm
  tags: uid

# Storage plugins

- name: Build fastbit storage plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/storage/fastbit
    creates={{ build.dir }}/plugins/storage/fastbit/RPMBUILD/SRPMS/*.src.rpm
  tags: fastbit

- name: Build json storage plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/storage/json
    creates={{ build.dir }}/plugins/storage/json/RPMBUILD/SRPMS/*.src.rpm
  tags: json

- name: Build nfdump storage plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/storage/nfdump
    creates={{ build.dir }}/plugins/storage/nfdump/RPMBUILD/SRPMS/*.src.rpm
  tags: nfdump

- name: Build postgres storage plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/storage/postgres
    creates={{ build.dir }}/plugins/storage/postgres/RPMBUILD/SRPMS/*.src.rpm
  tags: postgres

- name: Build statistics storage plugin rpm
  command: >
    make rpm
    chdir={{ build.dir }}/plugins/storage/statistics
    creates={{ build.dir }}/plugins/storage/statistics/RPMBUILD/SRPMS/*.src.rpm
  tags: statistics

#These need to be build first:
#lnfstore 
- name: Build lnfstore storage plugin rpm
  command: >
    {{ item }}
    chdir={{ build.dir }}/plugins/storage/lnfstore
    creates={{ build.dir }}/plugins/storage/lnfstore/RPMBUILD/SRPMS/*.src.rpm
  with_items:
   - "{{ build.cmds }}"
   - "make rpm"
  tags: lnfstore

# unirec 
- name: Build unirec storage plugin rpm
  command: >
    {{ item }}
    chdir={{ build.dir }}/plugins/storage/unirec
    creates={{ build.dir }}/plugins/storage/unirec/RPMBUILD/SRPMS/*.src.rpm
  with_items: 
   - "{{ build.cmds }}"
   - "make rpm"
  tags: unirec

# Tools
- name: Build fbitconvert tool rpm
  command: >
    make rpm
    chdir={{ build.dir }}/tools/fbitconvert
    creates={{ build.dir }}tools/fbitconvert/RPMBUILD/SRPMS/*.src.rpm
  tags: fbitconvert


- name: Build fbitdump tool rpm
  command: >
    make rpm
    chdir={{ build.dir }}/tools/fbitdump
    creates={{ build.dir }}/tools/fbitdump/RPMBUILD/SRPMS/*.src.rpm
  tags: fbitdump


- name: Build fbitexpire tool rpm
  command: >
    make rpm
    chdir={{ build.dir }}/tools/fbitexpire
    creates={{ build.dir }}/tools/fbitexpire/RPMBUILD/SRPMS/*.src.rpm
  tags: fbitexpire


- name: Build fbitmerge tool rpm
  command: >
    make rpm
    chdir={{ build.dir }}/tools/fbitmerge
    creates={{ build.dir }}/tools/fbitmerge/RPMBUILD/SRPMS/*.src.rpm
  tags: fbitmerge


- name: Build profilesdaemon tool rpm
  command: >
    make rpm
    chdir={{ build.dir }}/tools/profilesdaemon
    creates={{ build.dir }}/tools/profilesdaemon/RPMBUILD/SRPMS/*.src.rpm
  tags: profilesdaemon
